body{
    background-color: white;
    margin: 0%;
    font-variant: small-caps;
    font-size: larger;
}

#container{
    height: 82.5vh;width:100vw;
    border:2px solid black;
}
header{
    height:10vh;width: 100vw ;
    font-size:28px;
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 108, 191);
    color:white;
}
footer{
    height:10vh;width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-variant: small-caps;
    background-color: rgb(31, 108, 191);
    color: white;
}

.inside{
    height:10vh;width:100vw;
    border:2px solid black;
    display:flex;
}
#anu{
    display: flex;
}

#profile{
    height:20vh;width:100vw;
}
.inside:hover{
    animation:div 2s ease infinite alternate-reverse;
}
@keyframes div {
    from{height: 10vh;}
    to{height:20vh;}
}